html {
  height: 100%;
}

body {
  font-family: monospace, arial;
  font-size: 38px;
  text-align: center;
  background-color: #d9ead3;
}

#p1 {
  margin-top: 2rem;
}

#p1, #p2, #p3, #p4 {
  margin-bottom: 6rem;
  background-color: #3a783a;
  border: 4px solid black;
  border-radius: 4px;
  max-width: 400px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;

  transition: background-color 300ms ease;

  &.buzzed {
    background-color: #feda66;
  }
}

.name {
  all: unset;
  font-family: Arial;
  color: white;
  font-weight: 600;
  text-align: center;
  text-shadow: black 1px 0 4px;
}

#p1input, #p2input, #p3input, #p4input {
  font-family: Arial Black;
  border-radius: 4px;
  font-size: xxx-large;
  text-align: center;
  width: 200px;
}
